
/*  HEADER  */
.header {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  color: #7E2224;
  text-align: center;
}

h1 {
  display: inline-block;
  margin: 10px auto;
  padding-bottom: 16px;
  border-bottom: 3px solid #F7D373;
}

h2 {
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #F5CD5F;

  font-size: 18px;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

/* TABELA */
.questions {
  width: 95%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

.question {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid #E5EBF0;
}

.question:nth-child(even) {
  background-color: #F9F9F9;
}

span.text {
  margin: 20px;
  font-weight: bold;
  color: rgba(0,0,0, .67);
}

/* COUNTER */
.counter {
  display: block;
  width: 28px; height: 28px;
  padding: 2px;

  background-color: #F6CD5F;
  border: 2px solid #E3B949;

  text-align: center;
  font-weight: bold;
}


/* Squares */
.square.group {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.square.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px; height: 55px;
  margin-left: 3px;

  background-color: #A3A3A3;
  box-shadow: 1px 2px 1px rgba(0,0,0, .2);

  color: white;
  font-size: 30px;
}

.square.icon.green {
  background-color: #59B38D;
}

.square.icon.red {
  background-color: #DB6266;
}
